@charset "UTF-8";

/*Formatação iframe para as curiosidades na aba "cursos"*/
#curiosidades {
	text-align: center;
}
#curiosidades img{
	text-align: center;
	margin-top: 1%;
	margin-right: 2%;
}

#arduino-spec {
	width: 40%;
	height: 390px;
	border: none;
	overflow: hidden;
	position: relative;
}
#arduino-spec::-webkit-scrollbar {
	display: none;
}
/*---------------------------------------------------------------------*/

/*Formatação corpo das aulas*/
@media (min-width: 771px){
	section.curso {
		display: inline-block;
		margin: 1% 1.5%;
		width: 20%;
	}
}
@media (min-width: 490px) and (max-width: 770px){
	section.curso {
		display: inline-block;
		margin: 1% 1%;
		width: 30%;
	}
}
#cursos {
	margin-left: 10%;
	margin-right: 3%;
}
.curso:hover, .curso:focus, .curso:active {  
  transform: translateY(-10px);
}
.curso:hover:before, .curso:focus:before, .curso:active:before {
  opacity: 1;
  transform: translateY(10px);
}
.descricao-curso {
	font-family: FontMenor, sans-serif; 
	font-size: 120%;
	font-
}
.curso img.img-curso{
	margin-top: 5px;	
	position: center;
	border: .5px solid gray;
	border-radius: 3%;
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.curso h5{
	font-weight: normal;
	color: #228B22;
	text-align: center;
	font-size: 130%;
	margin: -15px 0;
}

/*---------------------------------------------------------------------*/