@charset "UTF-8";

/*Adicionando fontes dentro do projeto*/
@font-face{
	font-family: 'FontLogo';
	src: url("../fonts/bubblegum-sans-regular.otf");
}
@font-face{
	font-family: 'FontMenor';
	src: url("../fonts/TitilliumWeb-Light.ttf");
}
/*-------------------------------------------------------------------*/

/*Configurando tegs do HTML*/
html {
	scroll-behavior: smooth;
}
body{
	background-color: #fefefe;
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 10px 15px;
}
h2.titulo{
	font-family: 'FontLogo';
	color: #606060;
	font-size: 25pt;
	margin-top: 40px;
	text-align: center;
}
article {
	margin: 0px auto 0px auto;
}
/*---------------------------------------------------------------------*/

/*Configurando cabeçario superior*/
header {
	background-color: #4884c2;
	width: 100%;
	padding-right: 30px;
	margin: -30px 0px -10px -15px;
	position: sticky;
	top: 0;
}
/*---------------------------------------------------------------------*/

/*Configurando cabeçario do menu*/
.icon-menu {
	display:none;
}
#img-sup {
	position: absolute;
	margin-top: 5px;
	justify-content: space-between;
}
.menu{
	display: block;
	margin-top: -55px;
}
.menu ul{
	margin-top: 3%; 
	margin-left: 8%;
	list-style: none;
	text-transform: uppercase;
	font-size: 110%;
}
.menu li{
	display: inline-block;
	margin: 1.5% 1%;
}
.menu a{
	color: #ffffff;
	font-weight: 600;
	text-decoration: none;
}
.menu a:hover{
	color: #606060;
	transition: .5s;
}
#txtBusca {
	border-style: none;
	border-radius: 5px;
	padding: 6% 8% 6% 8%;
}

@media screen and (max-width: 900px) {
	#img-sup {
		margin-left: 10%;
		position: absolute;
		margin-top: 13px;
		justify-content: space-between;
	}
	.menu {
		position:relative;
		display:inline-block;
	}
	.menu ul.active {
		display:none;
	}
	.menu ul {
		width:200%;
		position:absolute;
		top:120%;
		left:0px;
		padding:10px 18px;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:#4884c2;
	}
	.menu ul:after {
		width:0px;
		height:0px;
		position:absolute;
		top:0%;
		left:22px;
		content:'';
		transform:translate(0%, -100%);
		border-left:7px solid transparent;
		border-right:7px solid transparent;
		border-bottom:7px solid #4884c2;
	}
	.menu li {
		margin:5px 0px 5px 0px;
		float:none;
		display:block;
	}
	.menu a {
		display:block;
	}
	.icon-menu {
		margin-top: 100%;
		margin-bottom: -3px;
		padding:18px;
		float:left;
		display:inline-block;
		box-shadow:0px 1px 1px rgba(0,0,0,0.15);
		border-radius:3px;
		background:#4884c2;
		text-shadow:0px 1px 0px rgba(0,0,0,0.5);
		color:#777;
		font-size:20px;
		transition:color linear 0.15s;
	}
	.icon-menu:hover, .icon-menu.active {
		text-decoration:none;
		color:#66a992;
	}
}
/*---------------------------------------------------------------------*/

/*Formatação do Roda Pé do site*/
#rodape-inicio {
	background-color: #4884c2;
	padding: 1%;
	margin-top: 40px;
	margin-left: -20px;
	margin-right: -15px;
}
#rodape-meio {
	background-color: #0f0e10;
	padding: 1%;
	margin-left: -20%;
	margin-right: -1.1%;
}
#rodape-final {
	background-color: #0a0a0a;	
	margin: 0% -10px -5% -2%;
	width: 103.1%;
	padding-bottom: 10px;
	padding-top: 5px;
	clear: both;
	border-top: 1px solid #606060;
}
div#rodape-final p{
	color: #ffffff;
	text-align: center;
}
div#rodape-final a {
	color: #ffffff;
	text-decoration: none;
}
div#rodape-final a:hover {
	color: #606060;
	transition: .5s;
}
/*-------------------------------------------------------------------*/


