@charset "UTF-8";

/*Formatação pagina de pagamento*/
#img-apoio {
	margin-left: 42%;
	margin-top: 0%;
}
#pagamento {
	border: 1px solid gray;
	border-radius: 5px;
	margin: auto;
	margin-top: 5%;
	width: 50%;
	padding: 1%;
}
input {
	padding: 1% 10% 1% 10%;
	margin: 1%;
}
/*#campo-nome {
	padding: 1% 20% 1% 20%;
	margin: 1%; 
}
.campo-email {
	padding: 1% 20% 1% 20%;
	margin: 1%; 
}*/
.indentificacao-campos {
	font-family: 'FontLogo';
	font-size: 15pt;
	color: #606060;
	margin-top: 0px;	
	margin-left: 5px;
	margin-bottom: 0px;
}
#finalizar-pagamento {
	text-align: center;
}
#finalizar-pagamento button{
	background-color: #ffffff;
	margin-top: 15px;
	border-style: none;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 1.5% 35% 1.5% 35%;
	text-transform: uppercase;
	font-weight: 700;	
}
#finalizar-pagamento button:hover{
	background-color: #1E90FF;
	color: #ffffff;
	padding: 1.5% 25% 1.5% 25%;
	text-transform: uppercase;
	font-weight: 700;
	transition: .5s; 	
}
footer p{
	font-size: 11pt;
	text-align: justify;
	color: #606060;
}
/*---------------------------------------------------------------------*/