@charset "UTF-8";

/*Configurando caixa individual dos produtos*/
#produtos {
	margin-left: 10%;
	margin-right: 3%;
}
@media (min-width: 771px){
	section.produto {
		display: inline-block;
		margin: 1% 1.5%;
		width: 20%;
	}
}
@media (min-width: 490px) and (max-width: 770px){
	section.produto {
		display: inline-block;
		margin: 1% 1%;
		width: 30%;
	}
}
.produto:hover, .produto:focus, .produto:active {  
  transform: translateY(-10px);
}
.produto:hover:before, .produto:focus:before, .produto:active:before {
  opacity: 1;
  transform: translateY(10px);
}
.produto img.img-produto{
	margin-top: 5px;	
	position: center;
	border: .5px solid gray;
	border-radius: 3%;
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.produto h3{
	margin-bottom: -200;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	font-family: 'FontMenor';
	margin: 0px;
}
.produto h4{
	font-weight: normal;
	text-align: center;
	font-size: 150%;
	margin: 10px 0px 20px 0px;
}
.produto h5{
	font-weight: normal;
	color: #228B22;
	text-align: center;
	font-size: 88%;
	margin: -15px 0;
}

/*Configurando caixa individual dos planos*/
#planos{
	text-align: center;
}
@media (min-width: 771px){
	.plano {
		display: inline-block;
		margin: 1% 1%;
		border:1px solid gray;
		width: 25%;
	}
}
@media (min-width: 490px) and (max-width: 770px){
	.plano {
		display: inline-block;
		margin: 1% 1%;
		border:1px solid gray;
		width: 40%;
	}
}
#planos h2{
	background-color: #4884c2;
	color: white;
	text-align: center;
	line-height: 2.5;
	font-weight: normal;
	font-size: 185%;
	font-family: 'FontLogo';
	margin: 0%;
}
#planos div.valor{
	text-align: center;
	font-size: 185%;
	margin: 10% 0;
}
#planos ul.detalhes{
	padding: 0px;
	list-style: none;
	margin: 20px 0px;
}
#planos li{
	text-align: center;
	padding: 3px;
	font-size: 15pt;
}
#planos a{
	text-decoration: none;
	color: black;
}
#planos a:hover{
	text-decoration: none;	
	color: white;
	transition: .3s;
}
#planos button{
	background-color: white;
	padding: 3.5% 8% 3.5% 8%;	
	border-style: none;
	border: 1px solid gray;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
}
#planos button:hover{
	background-color: #1E90FF; 
	padding: 3.5% 8% 3.5% 8%;
	border-radius: 5px;
	text-transform: uppercase;	
	transition: .3s;
}
#planos footer{
	text-align: center;
	margin: 20px 0;
}
/*---------------------------------------------------------------------*/